.grid-container div img{

    height: auto;
    width: 100%;
    /*object-fit:fill;*/
    border-radius: 10%;
}

.image{

    display: flex;
    justify-content: center;
    align-items: center;
}


#fund1{
    grid-area: imgfund1;
}


#div1{
    grid-area: desc1;
}



.grid-container {  
    margin: 20px;
    display: grid;
    width: 1fr;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "imgfund1 desc1"
}

.description{
    padding-left: 1em;
}

.grid-container h1{
    text-align: center;
}

@media (max-width: 800px){
    .grid-container{
        grid-template-columns: 1fr;
        /*grid-template-rows: 1fr 1fr;*/
        grid-template-areas:
            "desc1"
            "imgfund1";
    }
    .grid-container div img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: 100%;
        /*object-fit:fill;*/
        border-radius: 10%;
        
    }
    .description{
        padding-left: 0em;
        padding-right: 1em;
    }
}