.grid-container { 
    margin: auto; 
    display: grid;
    width: 1fr;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 11px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . ."
      ". . . .";
}

#HTMLproductos div {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: auto;
}

#collectionImages {
    border-radius: 25px;
    aspect-ratio: 1/1;
    object-fit: cover;
}



@media (max-width: 1000px){
    .grid-container{
        width: 90%;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            ". ."
            ". .";
    }
}

@media (max-width: 400px){
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-areas:
            "."
            ".";
    }
}

.gusFooter{
    width: 100%;
    background-color: beige;
}

.grid-container div img{
    width: 100%;
    object-fit:fill;
}

html, body, .grid-{
    height: 80%;
    margin: 0;
}