#item1 {
  grid-area: main;
  display: block;
  position: relative;
  background-size:contain;
  background-image: url(image1.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.copy{
  background-image: url(image1.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 10em;
  width: 10em;
  display: inline-block;
  background-position-y: center;
  cursor: pointer;
}

.item2 { grid-area: righty; }
.item3 { grid-area: footer; text-align: left; height: auto; display: inline-block;}

.grid-container {
    display: grid;
    grid-template-areas:
        'main righty'
        'footer footer';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    gap: 1em;
    background-color: #f2f2f2;
    padding: 1em;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 0;
  padding-left: 3em;
}

@media (max-width: 35em){
  .grid-container {
    display: grid;
    grid-template-areas:
      'main'
      'footer'
      'righty';
    gap: 1em;
    grid-template-columns: 1fr;
    grid-template-rows:max-content auto auto;
  }
  #item1{
    background-size: contain;
    aspect-ratio: 1;
    width: 1fr;
  }
  .item2{
    padding: 0;
  }
  .copy{
    width: 4em;
    background-position-x: center;
  }
}
